body {
   font-family: 'Raleway', sans-serif;
   /*background-color: #FFFFCC;*/
   overflow-y: scroll;
   overflow-x: hidden;
}

.header{
	padding-top: 80px;
	padding-bottom: 200px;
    background-image: url("images/ut-image.jpg") ;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;    
}



.header h2 {
	color: white;
	font-size: 25px;
}

.hello {
	padding-top: 20px;
	padding-bottom: 20px;
	}

	
h1 {
	font-size: 40px;
	color: white;
	
}

h2 {
	font-size: 20px;
	color: black;
}

h3 {
	font-size:20px;
	color: black;
	padding-top: 20px;
	padding-bottom: 20px;
}

h4 {
	font-size: 30px;
}

/*======= Button ====== */

.button {
  border-radius: 4px;
  background-color: #2da5e6;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

/*========Subscribe Button =======*/

.subscribe-button {
  border-radius: 4px;
  background-color: #2da5e6;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 12px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.subscribe-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.subscribe-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.subscribe-button:hover span {
  padding-right: 25px;
}

.subscribe-button:hover span:after {
  opacity: 1;
  right: 0;
}


/*======= Posts ======*/

.nickname {
	font-size: 22px;
	padding-bottom: 3px;
}

.date {
	font-size: 15px;
	padding-bottom: 3px;
}

.title {
	font-size: 20px;
	padding-bottom: 6px;
}

.llama{
	width: 800px;
	
}






